name: Templates

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:

  enter-devshells:
    name: Test devshells
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup
      uses: ./.github/actions/common-setup
      with:
        SECRET_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CACHIX_TOKEN: ${{ secrets.ORGANIST_CACHIX_TOKEN }}

    - name: Run flake checks
      run: |
        nix flake check

    - name: Test devshells
      run: |
        nix run .#run-test template
        nix run .#run-test example examples/c-hello-world
